body {
  background: linear-gradient( to top left, #10293A, #111620, #10293A );
  height: 100vh;
  padding: 100px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 306px;
  margin: 0 auto;
}

.row {
  height: 101px;
}

.suit-label {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: 1px solid #00FFFF;
  margin-right: -4px;
}

input {
  visibility: hidden;
}

input + .suit{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


input:checked + span.suit.diamonds{
  background: url(../img/diamonds.png) no-repeat 50%;
}

input:checked + span.suit.spades{
  background: url(../img/spades.png) no-repeat 50%;
}

input:checked + span.suit.hearts{
  background: url(../img/hearts.png) no-repeat 50%;
}


.suit.hearts {
  background: url(../img/hearts.png) no-repeat 50%;
  opacity: 0;
  transition: opacity .5s ease-in-out 0.2s;
}

.suit.spades {
  background: url(../img/spades.png) no-repeat 50%;
  opacity: 0;
  transition: opacity .5s ease-in-out 0.2s;
}

.suit.diamonds{
  background: url(../img/diamonds.png) no-repeat 50%;
  opacity: 0;
  transition: opacity .5s ease-in-out 0.2s;
}

input:checked + span.suit{
  opacity: 1;
  transition: opacity .5s ease-in-out 0.2s;
}

$type: hearts; 

}

//
// $type: monster;
// p {
//   @if $type == ocean {
//     color: blue;
//   } @else if $type == matador {
//     color: red;
//   } @else if $type == monster {
//     color: green;
//   } @else {
//     color: black;
//   }
// }

/*
@keyframes start-fadeOut {
    from {
      span.suit.diamonds{
        background: url(../img/diamonds.png) no-repeat 50%;
      }

      input:checked + span.suit.spades{
        background: url(../img/spades.png) no-repeat 50%;
      }

      input:checked + span.suit.hearts{
        background: url(../img/hearts.png) no-repeat 50%;
      }

    }
    to {
        /* CSS свойства для второго кадра */
    } */
